version: 2.1

jobs:
  python36:
    docker:
      - image: circleci/python:3.6.8
    steps:
      - checkout
      - run: sudo chown -R circleci:circleci /usr/local/bin
      - run: sudo chown -R circleci:circleci /usr/local/lib/python3.6/site-packages
      - run: echo $USERNAME
      - run: echo $PASSWORD
      - run:
          name: "Preparing Venv..."
          command: |
            python -m pip install --upgrade pip
            sudo pip install setuptools wheel twine
            pip install -r requirements.txt
      - run:
          name: "Linting, Sorting, Formatting, Testing..."
          command: |
            bash run.sh

  python38:
    docker:
      - image: circleci/python:3.8
    steps:
      - checkout
      - run: sudo chown -R circleci:circleci /usr/local/bin
      - run: sudo chown -R circleci:circleci /usr/local/lib/python3.8/site-packages
      - run: echo $USERNAME
      - run: echo $PASSWORD
      - run:
          name: "Preparing Venv..."
          command: |
            python -m pip install --upgrade pip
            sudo pip install setuptools wheel twine
            pip install -r requirements.txt
      - run:
          name: "Linting, Sorting, Formatting, Testing..."
          command: |
            bash run.sh

  python37:
    docker:
      - image: circleci/python:3.7.7
    steps:
      - checkout
      - run: sudo chown -R circleci:circleci /usr/local/bin
      - run: sudo chown -R circleci:circleci /usr/local/lib/python3.7/site-packages
      - run: echo $USERNAME
      - run: echo $PASSWORD
      - run:
          name: "Preparing Venv..."
          command: |
            python -m pip install --upgrade pip
            sudo pip install setuptools wheel twine
            pip install -r requirements.txt
      - run:
          name: "Linting, Sorting, Formatting, Testing..."
          command: |
            bash run.sh
      - run:
          name: "Building & Publishing..."
          command: |
            python setup.py install
            python setup.py sdist bdist_wheel
            twine check dist/*
            twine upload dist/*.whl dist/*.tar.gz -u $USERNAME -p $PASSWORD

workflows:
  version: 2.1
  ci:
    jobs:
      - python38
      - python36
      - python37
